.futures{
    background-color: #95E1D3;
    &__container{
        max-width: 1170px;
        margin: 0 auto;
    }
    &__wrapper{
        margin: 0 15px;
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(1,250px);
        @media screen and (max-width:1024px){
            grid-template-rows: repeat(1,170px);
        }
        @media screen and (max-width:600px){            
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            .futures__card:nth-child(5){
                grid-column:1/3;
            }
        }
    }
    &__card-element{        
        border-left: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:600px){      
            border: none;
            border-bottom: 1px solid #FFFFFF;
        }
        span{
            color: #FFFFFF;
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 75px;
            @media screen and (max-width:1024px){
                font-size: 48px;
                line-height: 56px
            }
        }
        p{
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 42px;
            @media screen and (max-width:1024px){
                font-size: 16px;
                line-height: 32px;
            }
        }
    }
}