.head{
    &__container{
        max-width: 1170px;
        margin: 0 auto;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin: 0 15px;
        @media screen and(max-width:324px) {
            margin: 0 0px;       
        }
    }
    &__items{
        display: flex;
        @media screen and(max-width:800px) {
            margin-top: 30px;        
        }
        &:first-of-type .head__item-icon{
            margin-right: 30px;
        }
        .header__burger{
            display: none;
            width: 24px;
            height: 18px;
            margin-right: 35px;
            @media screen and(max-width:800px) {
                display: block;         
            }
            button{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
                cursor: pointer;
                background: transparent;
                border: none;
                justify-content: space-between;
                transition: all ease-in-out 0.3s;
                &:hover{
                    scale: 1.1;
                }
                span{
                    width: 100%;
                    height: 3px;
                    background: #FFFFFF;
                    transition: transform .5s, opacity .5s, background-color 0.5s;                
                }
            }
        }         
    }
    &__item{
        width: 114px;
        height: 100px;
        @media screen and (max-width:1024px){
            scale: 0.9;
            transition: 0.3s ease;
            width: 95px;
            height: 70px;
        }
        @media screen and (max-width:800px) {
            display: none;            
        }
        a{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #FFFFFF;
            font-family: @Raleway;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            span:hover{
                text-align: center;
                width: 100px;
                color: #F4BF87;
                padding-bottom: 5px;
                border-bottom: 1px solid #F4BF87;
                transition: 0.2s;
                @media screen and (max-width:1024px){
                    width: 80px;
                }
            }
        }       
    }
    &__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            -webkit-transition: 0.5s ease;
            @media screen and (max-width:1024px){
                svg{
                    scale: 0.8;
                    transition: 0.3s ease;
                }  
            }
            @media screen and(max-width:800px) {
                margin-top: 25px;        
            }
        }
        span:hover{
            padding: 20px;
            transition: 0.5s;
            border: 1px solid #F4BF87;
            border-radius: 100%;
            @media screen and(max-width:1024px) {
                border: none;                
                padding: 0;
                
            }
            .head__main-logo path{
                fill: #F4BF87;
                transition: 0.3s;
            }
        }
    
    }
    .icon-last{
        padding-left: 15px;
    }
    &__item-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        span:hover{
            padding-bottom: 5px;
            transition: 0.3s;
            border-bottom: 1px solid #F4BF87;
            .header-svg-icon path{
            fill: #F4BF87;
            cursor: pointer;
            transition: 0.1s;
            }
        }
        @media screen and (max-width:1024px){
            scale: 0.9;
        }
        @media screen and (max-width:800px) {
            display: none;            
        }
    }  
    .burger-header{
        position: absolute;
        left: 0;
        height: 100vh;
        width: 100%;        
        transform: translateX(-100%);
        background: none;
        transition: 0.5s;
      }
      .burger-header_active{
        transform: translateX(0);
        transition: 0.5s;
      }
}

