


body{
    font-family: @Raleway;
}

.container{
    max-width: 1190px;
    margin: 0 auto ;
}
.main-bg{
    background-image: url(../images/main-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    .main-shadow{
        background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    }
}
.name-centr{
    width: 100%;
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: @KaushanScript;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        height: 80px;
        color: #2D3033;
    }
}
.title-centr{
    width: 100%;
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        height: 81px;
        color: #2D3033;
    }
}
.discription-centr{
    width: 100%;
    margin-bottom: 80px;
    p{
        text-align: center;            
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #2D3033;
    }
}
