.map-banner{
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__shadow{
        background-color: #ffffffe3;
    }
    &__wrapper{
        padding: 42px 0;
        .map-banner__img{
            display: flex;
            align-items: center;
            justify-content: center;            
            margin-bottom: 5px;
        }
        .title-centr{
            h2{
                color: #F38281;
            }
            .mogo-line{
                margin-top: 24px;
            }
        }
    }
}