.service{
    &__wrapper{
        padding-top: 42px;
        padding-bottom: 114px;
    }
    .title-centr{
        .mogo-line{
            margin-top: 24px;
            margin-bottom: 40px;
        }
    }
    &__main{
        display: grid;
        grid-template:repeat(1,1fr)/repeat(2,1fr);
        gap: 30px;
        .service__main-first{
            img{
                width: 100%;
            }
        }
        .service__main-second{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            column-gap: 22px;
            .service__acord-btn{
                display: flex;
                align-items: center;
                justify-content: start;
                background-color: #FFFFFF;
                border: 1px solid #C6CBCD;
                width: 100%;
                padding: 25px 20px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                transition: 0.3s ease;
                cursor: pointer;
                &:hover{
                    background-color: #f0efef;
                    transition: 0.3s;
                }
                span{
                    margin-left: 40px;
                }
                .btn-up{
                    margin-left: auto;
                }
                .btn-down{
                    margin-left: auto;
                }
            }
            .service__acord-panel{
                display: none;
                padding: 10px 20px 10px 0px;                
                border: 1px solid #C6CBCD;
                textarea{
                    width: 100%;
                    padding: 20px;
                    resize: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    white-space: normal;
                    background-color: #FFFFFF;
                    border: none;
                    text-align: justify;
                    padding-right: 40px;
                    height: 163px;
                    &::-webkit-scrollbar {
                        width: 7px;
                        background-color: #F5F5F5;
                    }                     
                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                        -webkit-border-radius: 7px;
                        border-radius: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #95E1D3; 
                    }
                }
            }
        }

    }
}